extends base

block content 
    section.about-us
        // Title
        .about-us-title
            h2 About Us
    
        // Content
        .about-us-content
            p.
                College Garage is a web-based platform operated and managed by second-year college students.
                College Garage provides a platform for buying and selling second-hand computer peripherals, gadgets,
                and other related items.
                Our platform offers college students and others a convenient way to browse, purchase, or sell items
                such as computer parts and gadgets at affordable prices.
                <br>
                College Garage aims to create a community-driven marketplace where individuals can easily connect
                and trade their used items.
                Whether you're looking to upgrade your computer setup or sell your old gadgets, College Garage
                offers a hassle-free experience for both buyers and sellers.
            p.center-text Join College Garage today and discover a convenient way to buy and sell second-hand computer peripherals and gadgets!
    
    // Mission vision
    section.mission-vision.card-group.mt-5.text-center
        // Our Missions
        .card.mt-5.mb-3.missions
            .card-body.pt-0
                h2.card-title.mt-0.pt-5 Our Missions
                p.card-text.pt-3.pb-3 College Garage's mission is to provide college students and others with a platform to easily buy and sell second-hand computer peripherals and gadgets. We aim to create a community-driven marketplace where individuals can connect and trade their used items conveniently and affordably.
    
        // Our Visions
        .card.mt-5.mb-3.visions
            .card-body.pt-0
                h2.card-title.mt-0.pt-5 Our Visions
                p.card-text.pt-3.pb-3 Our vision is to become the go-to destination for college students seeking to buy or sell second-hand computer peripherals and gadgets. We strive to build a trusted and user-friendly platform that empowers students to make smart and sustainable choices when it comes to their technology needs.